.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapper_back {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.link {
    all: unset;
    color: #6488bc;
    cursor: pointer;
}
.wrapper_test {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}
.wrapper_current_siz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e8f0;
}
.title_user {
}
.title_current_siz {
    display: flex;
    gap: 5px;
}
.btn_add_siz {
    all: unset;
    display: flex;
    align-items: center;
    background-color: #2b7cfd;
    border-radius: 8px;
    color: white;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
}
.btn_add_siz:active {
    transform: translateY(-2px);
}
.siz {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f1f5f9;
    border-radius: 7px;
    padding: 10px;
}
.siz_img {
    width: 60px;
    height: 60px;
    mix-blend-mode: multiply;
}
.dedline_siz {
    background-color: rgb(40, 173, 40);
    border-radius: 30px;
    padding: 10px;
    color: white;
}
